<div class="minionglob" id="minionglob" 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/">
    
    <form action="${submit_adress}" method="post" onsubmit="return !glob_submit(this,'not_sure');" class="tableform" name="minion_form">
        <div class="graytexts2" id="minionglobtext">
            <div align="center">Minion Glob</div>
        </div>
        <input name="submit" type="submit" class="minionbutton" id="button" value="submit" border="0"/>
        <input name="glob" type="text" class="minionbox" id="textfield" />
    </form>
</div>

