<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  xmlns:py="http://genshi.edgewall.org/"
  py:strip="">
  <head py:match="head" py:attrs="select('@*')">
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"
      py:replace="''" />
    <title py:content="'Funcweb'"></title>

    <link py:for="js in tg_js_head" py:strip="">${ET(js.display())}</link>
    <link py:for="css in tg_css" py:strip="">${ET(css.display())}</link>
    <script type="text/javascript" src="${tg.url('/funcweb/static/javascript/ajax.js')}" />
    <script type="text/javascript" src="${tg.url('/funcweb/static/javascript/utils.js')}" />
    <script type="text/javascript" src="${tg.url('/funcweb/static/javascript/dhtmlxcommon.js')}" />
    <script type="text/javascript" src="${tg.url('/funcweb/static/javascript/dhtmlxtree.js')}" />
    <script type="text/javascript" src="${tg.url('/funcweb/static/javascript/ext/dhtmlxtree_dragin.js')}" />
    <script type="text/javascript" src="${tg.url('/funcweb/static/javascript/ext/dhtmlxtree_ed.js')}" />
    <script type="text/javascript" src="${tg.url('/funcweb/static/javascript/ext/dhtmlxtree_er.js')}" />
    <script type="text/javascript" src="${tg.url('/funcweb/static/javascript/ext/dhtmlxtree_json.js')}" />
    <script type="text/javascript" src="${tg.url('/funcweb/static/javascript/ext/dhtmlxtree_start.js')}" />


  <style type="text/css" media="screen">
      @import url("/funcweb/static/css/style.css");
  </style>
  <style type="text/css" media="screen">
      @import url("/funcweb/static/css/groupscss.css");
  </style>
  
  <style type="text/css" media="screen">
      @import url("/funcweb/static/css/dhtmlxtree.css");
  </style>


  <link media="screen" href="/funcweb/static/css/expanding_form.css" type="text/css" rel="stylesheet"/>
  <script src="${tg.url('/funcweb/static/javascript/expanding_form.js')}" type="text/javascript"/>
  <script src="${tg.url('/funcweb/static/javascript/async_tools.js')}" type="text/javascript"/>
      
  
  </head>
  <body py:match="body" py:attrs="select('@*')">
    <div py:for="js in tg_js_bodytop" py:replace="ET(js.display())" />
    
    <div class="header" id="header"></div>
    <div class="underheader" id="underheader"></div>
    <div id="menudiv">
        <div class="navgation" id="navigaton">
            <span class="lines">|</span>
                <a href="/funcweb/" class="navlinks">Home</a>
            <span class="lines">|</span>
                <a href="/funcweb/display_async_results" class="navlinks">Async Results</a>
            <span class="lines">|</span>
                <a href="/funcweb/groups_main" class="navlinks">Group Management</a>
            <span class="lines">|</span>
        
        </div>
    </div>


    <div class="container" id="container">
        
                   
        <div class="globalerrorbig" id="globalerrorbig">
              <div class="globalerror" id="globalerror"></div>
        </div>
        <div py:replace="select('*|text()')" />
 

        <div class="footercontent" id="footercontent">
            <div class="footer" id="footer"></div>
        </div>
    
    </div>



  </body>
</html>
