<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<body>
    <div py:if="minion_form" id="men"> 
        <p py:if="description">Description : ${description}</p>
        ${ET(minion_form.display(displays_on='genshi'))}
    </div>
    <div py:if="not minion_form" id="men">
        <a href="#" onclick="myj('#results').hide().load('/funcweb/execute_link/${minion}/${module}/${method}/').show('slow');">Run Method</a>
        <div class="results" id="results" />
    </div>
</body>
</html>

