<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<body>
  <div class="method">
    ${minion}.${module}.${method}

    <form action="" method="GET" onsubmit="$('#results').empty().load('/run/${minion}/${module}/${method}/').show('slow'); return false;">
      <input type="text" name="arguments" id="methodargs" class="methodargs"/>
    </form>
    <div class="results" id="results" />

    <script type="text/javascript">
      $(document).ready($("#methodargs").focus());
    </script>
  </div>
</body>
</html>
