<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
    
<body>
    <div class="methodsbigbox" id="methodsbigbox">
        <span py:for="minion, methods in modules.items()">
            <div align="center" class="graytexts">${minion}.${module}</div>
            <div class="minionstextblue" id="methodstextbox" py:for="method in methods">
                <a href="#widgetcontent"  onclick="get_method_widget('${minion}','${module}','${method}');" class="minionstextblue">${method}</a>
            </div>
        </span>
  </div>
</body>
</html>
