<div class="minions2" id="minions2">
    <div align="center">Minions</div>
    <div class="minions2box" id="minions2box">
        <div class="minionstextbox" id="minionstextbox"><span class="minionsandgroupsbluetext">Minion1</span>
            <label>
                <input type="checkbox" name="checkminion" id="checkminion" />
            </label>
        </div> 
    </div>
    <div class="graytexts2" id="selectallbox"> Select all:
        <label>
            <input type="checkbox" name="selectallchechbox" id="selectallchechbox" />
        </label>
        <label>
            <input name="addbtn" type="submit" class="addnewgroupbtn" id="addbtn" value="Add" />
        </label>
    </div>
</div>
