<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="master.html"/>
  <head/>  
<body>
    <div class="col-group">
    <div class="col" id="col1">
       <ul>
        <li><h2>minions</h2></li>
        <li py:for="minion in minions">
        <a onclick="jQuery('#col3').hide();myj('#col4').hide();myj('#col2').hide().load('/minion/${minion}').show('slow');" href="#">${minion}</a>
        </li>
      </ul>
    </div>
    <div class="col" id="col2" />
    <div class="col" id="col3" />
    <div class="col" id="col4" />
  </div>
</body>
</html>
