<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<body>
    <div class="modulesbigbox" id="modulesbigbox">
        <span py:for="minion, modules in modules.items()">
            <div align="center" class="graytexts">${minion}</div>
    
        <div class="modulestexts" id="modulestexts" py:for="module in modules">
            <a href="#methotdscontent" class="minionstextblue" onclick="list_module_methods('${minion}','${module}');">${module}</a>
        </div>
        </span>
    </div>
</body>
</html>
