[remote "kadamski"]
	url = git://github.com/kadamski/func.git
	fetch = refs/heads/*:refs/remotes/kadamski/*
[remote "makkalot"]
	url = git://github.com/makkalot/func.git
	fetch = refs/heads/*:refs/remotes/makkalot/*
[remote "mhicks"]
	url = git://github.com/matthicksj/func.git
	fetch = refs/heads/*:refs/remotes/mhicks/*

[remote "alikins"]
	url = git://github.com/alikins/func-alikins-devel.git 
	fetch = refs/heads/*:refs/remotes/func-alikins-devel/*

